@import "../../styles/index.scss";

$size: 175px;
$radius: 25px;

.panel {
    @include themed() {
        background: t("fg");
    }
    // width: 750px;
    // min-height: $size;
    padding: .75em;
    margin: 1em auto;
    transition: 0.5s;
    overflow: hidden;

    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    "image  header  header"
    "image  text    text"
    "image  tags    tags";
    border-left: 4px solid $primary;
}

.panel:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.panel:hover h3 {
    @include themed {
        color: t("main-color");
    }
}

.panel__header {
    grid-area: header;
    margin-block-start: 0;
    margin-block-end: 0;
}

.panel__text {
    grid-area: text;
}

.panel__image {
    object-fit: cover;
    height: auto;
    width: 100%;
    border-radius: $radius;
    grid-area: image;
}

.panel__links {
    display: flex;
    flex-wrap: wrap;
    grid-area: tags;
}

// @media (max-width: 800px) {
//     .panel {
//         width: 80%;
//         display: grid;
//         grid-template-columns: 1fr;
//     }
//     .panel__image {
//         width: 100%;
//         height: auto;
//     }
// }
