@import "../../styles/index.scss";

.panel {
    height: 200px;
    width: 750px;
    margin: 1em auto;
    padding: 1.25em;
    @include themed () {
        background: t("fg");
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 6.8px;
    overflow: hidden;
}

.panel:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid;
    border-image-slice: 1;
    @include themed () { 
        border-image-source: linear-gradient(90deg, t("main-color") 35%, t("secondary-color")  100%);   
    }
}

.panel-image {
    height: 200px;
    width: 200px;
    border-radius: 6.8px;
}

.panel-text {
    text-overflow: ellipsis;
    @include themed() {
        // color: t("")
    }
}

.panel-secondary {
    width: 500px;
}

@media (max-width: 700px) {
    .panel {
        flex-direction: column;
        width: 80%;
        height: auto;
    }
    .panel-secondary {
        width: 100%;
    }
    .panel-image {
        width: 100%;
    }
}
