.strip {
    height: 150px;
    width: 800px;
    margin: auto;
    background: #202022;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    transition: 0.5s;
}

.strip:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.strip-spacer {
    width: 100px;
}

.strip-text {
    margin: 0;
}

.strip-meta {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 750px) {
    
}