@import "../../styles/index.scss";

$quiz-red: #dd264b;

.quiz__container {
    display: grid;
    align-items: center;
    padding: 32px 0;
}

.quiz__section {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    @include themed() {
        background: t("fg");
        border: 1px solid t("border");
    }
}

@media only screen and (max-width: 600px) {
    .quiz__section {
        width: 100%;
    }
}


.quiz__header {
    @include themed () {
        background: t("secondary-color");
        
    }
    color: #d8d8d8;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}




.quiz__item {
    margin: 16px 0;
    cursor: pointer;
    padding: 10px;
    @include themed() {
        border-radius: 32px;
        border: 1px solid #ccc;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.quiz {
    margin: 0;
    padding: 4px 16px;
    list-style: none;
}

.correct {
    background: #70c04f;
    border: 1px solid transparent;
}
.incorrect {
    background: #c03551;
    border: 1px solid transparent;
}

.selected {
    background: white;
}

.quiz__bubble {
    border: 2px solid violet;
    margin-right: 10px;
    border-radius: 50%;
    min-width: 32px;
    height: 32px;
    // padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz__bubble-correct {
    fill: #70c04f;
}

.quiz__bubble-incorrect {
    fill: #c03551;
}

.quiz__bubble-selected {
    border-color: transparent;
    background: white;
}

.unselected__correct {
    border-color: white;
    fill: white;
}

.unselected__incorrect {
    border-color: #c03551;
}
