@import "../../../styles/index.scss";

.table::-webkit-scrollbar-track {
    background: #FCFCFC;
}

.table::-webkit-scrollbar {
    height: 8px;
}

.table::-webkit-scrollbar-thumb {
    @include themed () {
        background: t("main-color");
    }
}



.table__container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    .table {
        display: block;
        width: 100%;
        border-spacing: 0;
        border: 0.5px solid #8b8b8b;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        @include themed () {
            background: t("bg");
        }
        .table__row:last-child .table__cell {
            border-bottom: 0;
        }

        .table__row:hover { 
            @include themed () {
                background: t("fg");
            }
        }

        .table__head__cell {
            user-select: none;
            font-weight: bold;
            @include themed {
                background: t("fg");
            }
        }

        .table__head__cell, .table__cell {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0.5rem;
            border-bottom: 0.5px solid #8b8b8b;
            border-right: 0.5px solid #8b8b8b;
            position: relative;
            :last-child {
                border-right: 0;
            }
        
            .resizer:not(.th) {
                display: inline-block;
                width: 10px;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateX(50%);
                z-index: 99;
                touch-action: none;
            }
            .resizer:hover {
                background: $primary;
            }
        }

        .table__cell:focus {
            outline: 3px solid $primary;
            color: $primary;
            z-index: 999;
        }
    }

}
