@import '../../../styles/index.scss';

.list__container {
    padding: 0;
    list-style: none;
    @include themed () {
        border-left: 2px solid t("secondary-color");
    }
    margin-left: 12px;
}



.bullet__list {
    margin: 2rem 0;
    padding-left: 20px;
    font-size: 1rem;
    position: relative;
    z-index: 999;
}

.bullet__list-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet {
    @include themed () {
        background: darken(t("secondary-color"), 20);
        border: 2px solid t("secondary-color");        
    }
    z-index: -999;
    height: 24px;
    width: 24px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    left: -15px;
}

.bullet:hover {
    @include themed () {
        border-color: lighten(t("secondary-color"), 20);
    }
}

