@import "../../styles/index.scss";


.chart__container {
    @include themed () {
        background: t("fg");
        border: 1px solid darken(t("border"), 40);
    }
    border-radius: var(--font-size-normal);
    padding: 16px;
}

.bar__chart {
    @include themed () {
        fill: t("primary-color");
    }
    height: 40vh;
}