@import './theme-controller.scss';
.base {
	height: calc(1000vh);
    width: 100%;
	@include themed() {
		background: t('bg');
		color: t('text');
	}
}


@import url('https://fonts.googleapis.com/css?family=Rubik');

a, a:visited, a:active {
	text-decoration: none;
	color: inherit;

}


body {
	font: normal 20px 'Rubik', sans-serif;
	letter-spacing: 0.09rem;
	color: #fff;
	height: 100vh;
  	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	box-sizing: border-box;	  
}

/* Get rid of unessecary spacing */
blockquote p { 
	margin: 0; 
}

