@import './theme-controller.scss';
.base {
	height: calc(1000vh);
    width: 100%;
	@include themed() {
		background: t('bg');
		color: t('text');
	}
}


@import url('https://fonts.googleapis.com/css?family=Rubik');

a, a:visited, a:active {
	text-decoration: none;
	color: inherit;

}


body {
	background-color: #151515;
	font: normal 20px 'Rubik', sans-serif;
	letter-spacing: 0.09rem;
	color: #fff;
	height: 100vh;
  	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	box-sizing: border-box;	  
}

/* Get rid of unessecary spacing */
blockquote p { 
	margin-top: 0px; 
	margin-bottom: 0px; 
}

::-webkit-scrollbar {
	width: 0.25rem;
}
::-webkit-scrollbar:horizontal {
	width: 0.25rem;
	height: 10px;
}
  
::-webkit-scrollbar-track {
	background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #88f; 
	border-radius: 10px;
}


