@import './theme-controller.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik');

a, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}


body {
	@include themed() {
		background: t('bg');
		color: t('text');
	}
	font: normal 20px 'Rubik', sans-serif;
	letter-spacing: 0.08rem;
	color: #fff;
	width: 100%;
	height: 100%;
  	margin: 0;
	padding: 0;
	box-sizing: border-box;	  
	transition: 0.5s ease-in;
	
}


.big-header {
	font-size: 50px;
	margin: 0;
}

blockquote {
	margin-block-start: 0;
    margin-block-end: 0;
}



::-moz-selection { background: #b3d4fc; }
::selection { background: #b3d4fc; }

