@import "./controller.scss";
@import "./pages.scss";
@import url("https://fonts.googleapis.com/css?family=Rubik|Lato");

a, a:visited, a:active {
	text-decoration: none;
	color: inherit;
	box-shadow: none;
}


body {
	@include themed() {
		background: t("bg");
		color: t("text");
	}
	font: normal 20px "Lato", sans-serif;
	letter-spacing: 0.08rem;
	color: #fff;
	width: 100%;
	height: 100%;
  	margin: 0;
	padding: 0;
	box-sizing: border-box;	  
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Rubik", sans-serif;
}


.big__header {
	font-size: 50px;
}

blockquote {
	margin-block-start: 0;
    margin-block-end: 0;
}

.no-margin {
	margin-block-start: 0;
	margin-block-end: 0;
}

::-moz-selection { background: #b3d4fc; }
::selection { background: #b3d4fc; }

