@import "./controller.scss";

.home__page {
	display: grid;
	place-items: center;
	margin: auto;
}

.home__page-header {
	font-size: var(--font-size-large);
}

.home__page-background {
	@include themed() {
		background: t("bg-alt");
	}
}

.home__page-about {
	width: 50%;
	padding: 0 2rem;
	font-size: var(--font-size-medium);
}

@media only screen and (max-width: 512px) {
	.home__page-about {
		width: 100%;
	}
}

//For dynamic content such as blog, snippets, projects
.content__container {
	width: 70%;
	margin: auto;
}

.content__header {
	width: inherit;
	display: grid;
	justify-content: left;
	align-items: center;
}

.content__card-grid {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
