
$primary: #6C10D1;
$secondary: #00D4FF;
$caution: #FFCC00;
$warning: #FF6700;


//themes
$themes: (
	dark: (
		bg: #171819,
		fg: #212223,
		text: #D8D8D8,
		border: #CCC,
		hr: linear-gradient(to right, $primary, $secondary),
		main-color: $primary,
		secondary-color: $secondary,
		code: #9a6dd7,
	),
	light: (
		bg: #D8D8D8,
		fg: #B5B7BB,
		text: #171819,
		border: #000,
		hr: linear-gradient(to right, $warning, $caution),
		main-color: $warning,
		secondary-color: $caution,
		code: #FF6700,
	),
	
);

@mixin themed() {
	@each $theme, $map in $themes {
		.theme--#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function t($key) {
	@return map-get($theme-map, $key);
}
