@import '../../styles/index.scss';
.navbar {
    @include themed () {
        background: t('fg');
    }
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav__item {
    padding: 0 1rem 0 1rem;
    width: 15vh;
}

.nav__item h1 {
    margin: 0;
    width: 100%;
}

.home__icon {
    margin-right: auto;
    text-align: left;
    width: 100%;
}

.mobile__nav {
    position: fixed;
    overflow-x: hidden;
    margin: 0;
    padding: 1em 0 0 0;
    width: 100%;
    height: 100%;
    top: 50%;
    z-index: 99;
    border-radius: 20px;
    @include themed () {
        background: t("fg");
    }
}

.mobile__nav__icon {
    margin-right: 1em;
}

.mobile__nav h4 {
    margin: 0;
}

.mobile__bg {
    background-color: #00000066; 
    z-index: 1; 
    min-height: 100vh;
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    overflow: auto; 
    
}

.mobile__nav__item {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1em;
}

.mobile__nav__toggle {
    cursor: pointer;
    font-size: 1.5rem;

}

.mobile__nav__item:hover {
    background: #0B6EFD;
    cursor: pointer;
}


.nav__item__active {
    @include themed () {
        color: t("secondary-color");
    }
}


.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    @include themed () {
        background: t("fg");
    }
}

.footer__icon {
    height: 40px;
    width: 40px;
}