@import '../../styles/base.scss';
.navbar {
    @include themed () {
        background: t('fg');
    }
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    height: 4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navitem {
    width: 20vh;
    padding: 0 1rem 0 1rem;
}

.navitem h1 {
    margin: 0;
}

.homeIcon {
    margin-right: auto;
    text-align: left;
    width: 100%;
}

.mobile-nav {
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    padding: 1em 0 1em 0;
    top: 5em;
    right: 1rem;
    border-radius: 5%;
    z-index: 99;
    @include themed () {
        background: t('fg');
    }
}

.mobile-nav-item {
    display: flex;
    height: 100%;
    padding: 1em;
    // justify-content: flex-end;
}

.mobile-nav-item:hover:not(:last-child) {
    background: #0B6EFD;
    cursor: pointer;
}




.navitem-active {
    @include themed () {
        color: t("main-color");
    }
}


.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.footer {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
    @include themed () {
        background: t("fg");
    }
}

.footer-icon {
    height: 10px;
    width: 10px;
}