@import '../styles/base.scss';
.gridlines {
    display: grid;
    place-items: center;
    background-size: 100px 100px;
    background-image: linear-gradient(#2c2c30 0.75px,transparent 0), linear-gradient(90deg,#2c2c30 0.75px,transparent 0), linear-gradient(transparent 0.75px,#171819 0,#171819 0.75px,transparent 0)
}

.center-card {
    border: 5px solid;
    border-image-slice: 1;
    @include themed {
        background: t("fg");
        border-image-source: linear-gradient(90deg, t("main-color") 35%, t("secondary-color") 100%);
    }
    padding: 3em;
    width: 60%;
    text-align: center;
}