@import '../../../styles/index.scss';

.theme__toggle {
    background:  none;
    outline: none;
    border: none;
    cursor: pointer;
}

.theme__toggle-icon {
    @include themed () {
        fill: t("theme-toggle");
    }
}
