@import "../../../styles/index.scss";

.meta {
    margin: 4px 6px 4px 6px;
}

.meta__tag {
    font-size: 1.25rem;
    @include themed {
        border: 1px solid t("border");
    }
    padding: 2px 10px 2px 8px;
    border-radius: 6px;
    text-align: center;
}

.external__tag {
    font-size: 1.5rem;
    padding: 0 12px 0 12px;
}
