@import '../../../styles/base.scss';

.select-tag {
    padding: 6px 12px 6px 12px;
    @include themed() {
        border: 1.5px solid t("border");
    }
    border-radius: 25px;
    margin: .25rem;
    transition: 0.25s ease-out;
}

.select-tag:hover {
    cursor: pointer;
}

.active-tag {
    @include themed() {
        border: 1.5px solid transparent;
        background: invert(t("bg"));
        color: invert(t("text"));
    }
}