@import "../../styles/index.scss";

.block-quote {
    border-left: 10px solid;
    border-image-slice: 1;
    @include themed() {
        background: t("fg");
        border-image-source: linear-gradient(0deg, t("main-color") 25%, t("secondary-color") 100%);
    }

    background: #1b1e1f;
    border-radius: 5px;
    margin: 0;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 1rem;
}
