@import "../../styles/index.scss";

.table__container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    .table {
        display: block;
        width: 100%;
        border-spacing: 0;
        border-radius: 10px;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        @include themed () {
            border: 0.5px solid darken(t("border"), 40);
            border-bottom: 0;
        }
        .table__row:last-child .table__cell {
            border-bottom: 0;
        }

        .table__row:hover { 
            @include themed () {
                background: t("fg");
            }
        }

        .table__head__cell {
            font-weight: bold;
            @include themed {
                background: t("fg");
            }
        }

        .table__head__cell, .table__cell {
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 0.5rem;
            @include themed () {
                border-bottom: 1px solid darken(t("border"), 40);
                border-right: 0.5px solid darken(t("border"), 40);
            }
            position: relative;
            :last-child {
                border-right: 0;
            }
        
            .resizer:not(.th) {
                display: inline-block;
                width: 10px;
                height: 100%;
                position: absolute;
                cursor: col-resize;
                right: 0;
                top: 0;
                transform: translateX(50%);
                z-index: 99;
                touch-action: none;
            }
            .resizer:hover {
                @include themed() {
                    background: t("code");
                }
                border-radius: 5px;
                z-index: 999;
            }
        }

        .table__cell:focus {
            outline: 3px solid $primary;
            color: $primary;
            z-index: 999;
        }
    }

}
