@import '../../styles/index.scss';

.codeblock-override {
    @include themed () {
        background: t("block-background");
    }
}

.codeblock-override::-webkit-scrollbar {
    background: inherit;
    height: 8px;
}

.codeblock-override::-webkit-scrollbar-thumb {
    @include themed () {
        background: t("main-color");
    }
    border-radius: 5px;
    
}


.toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    @include themed () {
        background: t("block-toolbar")
    }
    padding: 10px 35px 10px 35px;
    margin: 0;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.copyIcon {
    cursor: pointer;
}

.copyToolTip {
    padding: 0.25rem;
    border-radius: 5px;
    position: fixed;
    background: #2A2E30;
}


.copyIcon:hover span {
    padding: 0.25rem;
    border-radius: 5px;
    position:fixed;
    background: #340bb4;
    overflow: hidden;
}

.inline-code {
    @include themed () {
        color : t("code");
        background : t("fg");
    }
    border-radius: 5px;
    padding: 0 0.5rem 0 0.5rem;
}
