// Prismjs dark vscode theme

@import '../../styles/index.scss';

pre[class*="language-"],
code[class*="language-"] {
	@include themed () {
		color: t("block-color");
	}
	text-shadow: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 24px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	
}


pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre[class*="language-"],
	code[class*="language-"] {
		text-shadow: none;
	}
}



:not(pre) > code[class*="language-"] {
	padding: .1em .3em;
	border-radius: .3em;
	color: #db4c69;
	background: #f9f2f4;
}
/*********************************************************
* Tokens
*/
.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	@include themed () {
		color: t("cdata")
	}
	
}

.token.punctuation {
	@include themed () {
		color: t("punctuation")
	}
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	@include themed () {
		color: t("deleted")
	}
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #ce9178;
	@include themed () {
		color: t("token-inserted")
	}
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	@include themed () {
		color: t("token-string")
	}
	// background: #1e1e1e;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	@include themed () {
		color: t("token-keyword")
	}
}

.token.function {
	@include themed () {
		color: t("token-function")
	}
}

.token.regex,
.token.important,
.token.variable {
	@include themed () {
		color: t("token-var")
	}
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.constant {
	@include themed () {
		color: t("token-constant")
	}
}

.token.class-name {
	@include themed () {
		color: t("token-class-name")
	}
}

.token.parameter {
	@include themed () {
		color: t("token-parameter")
	}
}

.token.interpolation {
	@include themed () {
		color: t("token-interpolation")
	}
}

.token.punctuation.interpolation-punctuation {
	color: #569cd6;
}

.token.boolean {
	@include themed () {
		color: t("token-boolean");
	}
}

.token.property {
	@include themed () {
		color: t("token-property");
	}
}

.token.selector {
	@include themed () {
		color: t("token-selector");
	}
}

.token.tag {
	@include themed () {
		color: t("token-tag");
	}
}

.token.attr-name {
	@include themed () {
		color: t("token-attr-name");
	}
}

.token.attr-value {
	@include themed () {
		color: t("token-attr-name");
	}
}

.token.entity {
	@include themed () {
		color: t("token-entity");
	}
	cursor: unset;
}

.token.namespace {
	@include themed () {
		color: t("token-namespace");
	}
}
/*********************************************************
* Language Specific
*/
pre[class*="language-javascript"],
code[class*="language-javascript"] {
	@include themed () {
		color: t("lang-javascript");
	}
}

pre[class*="language-css"],
code[class*="language-css"] {
	@include themed () {
		color: t("lang-css");
	}
}

pre[class*="language-html"],
code[class*="language-html"] {
	color: #d4d4d4;
}

.language-html .token.punctuation {
	color: #808080;
}
/*********************************************************
* Line highlighting
*/
pre[data-line] {
	position: relative;
}

pre[class*="language-"] > code[class*="language-"] {
	position: relative;
	z-index: 1;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em;
	background: #f7ebc6;
	box-shadow: inset 5px 0 0 #f7d87c;
	z-index: 0;
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}





//Prism plugin css below
pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}


.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
	@include themed () {
		color: t("bracket-pair-1-5-9");
	}
	opacity: 1;
}
.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
	@include themed () {
		color: t("bracket-pair-2-6-10");
	}
	opacity: 1;
}
.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
	@include themed () {
		color: t("bracket-pair-3-7-11");
	}
	opacity: 1;
}
.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
	@include themed () {
		color: t("bracket-pair-4-8-12");
	}
	opacity: 1;
}
