@import '../../../styles/base.scss';

.card {
    border-radius: 6.8px;
    margin: 1.5em;
    display: flex;
    border: 1px solid gray;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    transition: 0.25s ease-in-out;
    justify-content: space-between;
    @include themed () {
        background-color: t("fg");
    }
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid;
    border-image-slice: 1;
    @include themed () {
        border-image-source: linear-gradient(90deg, t("main-color") 35%, t("secondary-color")  100%);   
    }
}


.card-image {
    display: block;
    object-fit: cover;
    width: 100%;
    opacity: 1;
    object-position: center 40%;
    height: 200px;
    border-radius: 6.8px;
}

.card-meta {
    padding: 24px 17px 7px;
    box-sizing: border-box;
    list-style: none;
    min-height: 110px;
    margin: 0;
    text-overflow: ellipsis;
}

.card-icon-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    list-style: none;
    margin: 0;
}

.card-icon {
    padding: 1rem;
}
