@import '../../styles/index.scss';
$thickness: 4px;
.spoiler {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include themed () { 
        background: t("fg");
    }
    width: 100%;
    height: auto;
}

.spoiler__header {
    @include themed () { 
        color: t("main-color");
        border: 2px solid #CCC;
        border-left: $thickness solid t("main-color");
    }
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    list-style: none;
    margin: 0;
}

.spoiler__body {
    padding: 25px;
    border-bottom: 2px solid #CCC;
    border-right: 2px solid #CCC;
    @include themed () {
        border-left: $thickness solid t("main-color");
    }
    width: inherit;
    height: auto;
}
