.typography__deleted {
    color: crimson;
}


.typography__header-one { font-size: 1.5em; }

.typography__header-two { font-size: 1.33em; }

.typography__header-three { font-size: 1.17em; }

.typography__header-four { font-size: 1em; }

.typography__header-five { font-size: 0.83em; }

.typography__header-six { font-size: 0.67em; }